.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.25rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.header .title {
  font-size: "Poppins";
  text-transform: uppercase;
}

.header .switch {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  border: 0;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  background: transparent;
  transition: 0.2s ease;
  font-size: 0;
}

.header .switch:hover {
  background: rgba(0, 0, 0, 0.4);
}
